/* The skip class was used to add the skip to main button and to make it functional */
.skip {
    position: absolute;
    top: -25px;
    background-color: #ffffff;
}

.skip:focus {
    position: static;
    top: 0;
    bottom: 0;
}


/* this section was to style the body section of the html */
body {
    font-family: "Arial", sans-serif;
    font-size: large;
    font-style: normal;
    /* background-color: rgb(244, 244, 156); */
    background-color: #ffffff;
    border-style: solid;
    border-color: blue;
    border-width: 1em;
    border-radius: 2em;
    padding: .25em
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}


.umich {
    position:relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding:2em;
  }


header {
    font-family: "Arial", sans-serif;
    font-size: larger;
    font-style: normal;
    background-color: #00274C;
    border-style: solid;
    border-width: .5em;
    border-radius: .5em;
}

h1 {
    text-align: center;
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    font-size: 3em;
    color:#FFCB05;
    font-style: normal;
}

h2 {
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-size: x-large; */
    font-size: 2em;
    color:#00274C;
    font-style: normal;
    text-align: center;
}
h3 {
    font-family:Arial, Helvetica, sans-serif;
    /* font-size: larger; */
    font-size: 1.5em;
    color:#00274C;
    font-style: normal;
}
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    align-items: center;
    border: .5em solid blue;
    border-radius: .5em;
} */



#cupboard {
    font-size: medium;
}
/* h3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    border: .5em solid blue;
    border-radius: .5em;
} */


ol {
    margin-left: 5em;
  }

section h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    color:black;
    font-style: normal;
}

.main {
    align-content: center;
}


/* this is my first grid. I set up the grid using display to grid and added various styling to the grids. I also used the diva gallery to apply this grid. */
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0em;
    justify-items: center;
    align-items: stretch;
    border: .5em dotted blue;
    border-radius: .5em;
}

/* this allows the last grid item to be in the middle or spanning both columns. */
.gallery div:last-child {
    width: 100%;
    grid-column: 1/span 2;
}



/* this creates the borders aroudn each div in the grid using the grid-item class */
.grid-item {
    /* border: .25em dotted black; */
    border: .25em double #00274C;
    padding: .25em;
    text-align: center;
}



/* this is my second grid. I set up the grid using display to grid and added various styling to the grids. I also used the diva class to apply this grid. */
.diva {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0em;
    justify-items: center;
    align-items: stretch;
    border: .5em solid blue;
    border-radius: .5em;
}

.live {
    border: .25em solid #00274C;
    padding: .25em;
    text-align: center;
    justify-self: stretch;
}

.diva div:last-child {
    width: 100%;
    grid-column: 1/span 2;
}

nav {
    background-color: #00274C;
    /* background-color: rgb(89, 89, 244); */
    padding: 1em;
}
nav ul {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap:.5em;
    padding: .5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

nav a {
    display: block;
    background-color: blue;
    color: white;
    border:.25em solid black;
    border-radius: 1em;
    justify-content: center;
    text-align: center;
    padding: .75em;
    text-decoration: none;
}

nav a.active {
    background-color: #efeaea;
    font-weight:bolder;
    color: black;
    font-style:inherit;
    text-transform: uppercase;

}

/* .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / span 2;
    border: .5em double darkblue;
    border-radius: 5em;
    max-width: 100%;
    width: 30em;
    border-radius: 2em;
    padding: .25em;
    justify-content: center;
} */

/* h3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    border: .5em solid blue;
    border-radius: .5em;
} */

/* h3 p {
    padding: 2em;
} */

footer {
    color:#00274C;
    /* background-color: rgb(176, 176, 235); */
    background-color: #FFCB05;
    padding: 2em;
    text-align: center;
}

ul li {
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
    word-wrap: break-word;
}

ol li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: left;
}

footer p {
    line-height: 1.5em;
}


#top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #00274C;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
#top:hover {
    background-color: #2802ff;
  }



@media only screen and (min-width:992px) {

    footer p {
        font-weight: bold;
        line-height: 0.5em;
    }

    body {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        line-height: 2em;
        }

    figure {
        font-size: larger;
    }

    body p, h2 {
        padding: 1em;
        font-size: 1.5em;
    }

    figcaption {
        font-size: 1.3em;
    }

    h3 {
        font-size: 2em;
    }

    h2 {
        font-size: 2.3em;
    }

    h1 {
        font-size: 2.6em;
    }

    ul li {
        font-size: 1.5em;
    }

    nav {
        background-color: #00274C;
        padding: 0em;
    }

    nav ul {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: .25em;
        padding: .25em;
        font-family: Arial, Helvetica, sans-serif;
        font-size: x-large;
    }

    nav a {
        display: block;
        background-color: blue;
        color: white;
        border:.20em solid black;
        border-radius: 1em;
        justify-content: center;
        text-align: center;
        padding: .5em;
        text-decoration: none;
    }

    .images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.25em;
        margin: 1% 1% 1% 1%;
        text-align: center;
        max-width: 100%;
    }

    .image_one, .image_two {
        border: .5em double darkblue;
        border-radius: 5em;
        border-radius: 2em;
        padding: .25em;
        justify-content: center;
    }
}